.my-input {
display: block;
  width: 100%;
  height: 45px;
  padding: 10px 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #a4a4a4;
  font-size: 1.3rem;
  box-sizing: border-box;
  transition: all .2s ease;
}
.my-form {
    margin: 1em;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15);
}

/* font */
@font-face {
    font-family: "Microsoft YaHei", sans-serif;
    /*
    src: url(../fonts/msyh.ttf);
    */
}
body, button, .popover{
    font-family: "Microsoft YaHei", sans-serif;
    /*
    font-family: msyh;
    */
}

/* btn */
.my-btn {
    display: inline-block;
    border: none;
    border-radius: .3em;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),inset 0 -.25em 0 rgba(0,0,0,.25),0 .25em .25em rgba(0,0,0,.05);
    color: #fff;
    cursor: pointer;
    /*
    font-family: Raleway,sans-serif;
    */
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: .5em 1.5em .75em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.my-btn:active {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2),inset 0 2px 0 hsla(0,0%,100%,.1),inset 0 .25em .5em rgba(0,0,0,.05);
    margin-top: .25em;
    padding-bottom: .5em;
}

.my-btn:active, .my-btn:focus {
    outline: none;
}

.my-btn-blue {
    background-color: #3498db
}
.my-btn-green {
    background-color: #1abc9c
}
.my-btn-red {
    background-color: #e65d4f
}

.my-btn-lg {
    font-size: 1.5em;
}
.my-btn-md {
    font-size: 1em;
}
.my-btn-sm {
    font-size: 0.75em;
}

